# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# Django / Python
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# Docker
*.log
docker-data/
mysql_data/


# MySQL
*.ibd
*.ibdata*
*.frm

# Docker volumes
**/mysql_data/
**/data/
